<p id="gym_name"> Average Joe's Gym </p>

<img src="/avjoeroundwhite.jpg" alt="">

<div>
  <ul>
    <li class="menu-item"><a href='/members'>Members</a></li>
    <li class="menu-item"><a href='/members/new'>Register New Member</a></li>
    <li class="menu-item"><a href='/lessons'>All Classes</a></li>
    <li class="menu-item"><a href='/lessons/new'>Create New Class</a></li>
    <li class="menu-item"><a href='/lessons/upcoming'>Classes In Next 24hrs</a></li>
  </ul>
</div>
