<!DOCTYPE html>
<html>
<head>
  <title>Average Joe&#39;s</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/members'>Members</a></li>
    <li class="menu-item"><a href='/members/new'>Register new member</a></li>
    <li class="menu-item"><a href='/lessons'>Classes</a></li>
    <li class="menu-item"><a href='/lessons/new'>Register new class</a></li>
  </nav>

  <%= yield %>

</body>
</html>
