

#menu {
height: 65px;
border-bottom: 1px solid #000;
width: auto;
padding-left: 25px;
}

#menu li {
  background-color: pink;
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  color: orange;
  text-decoration: none;
  float: left; /*this removed pink background */
  margin-right: 5px;
  font-family: Arial, sans-serif;
  border: solid;
  border-bottom: none;
  padding: 20px;
  width: 110px;
  height: 20px;
  text-align: center;
  display: block;
  background: #69F;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#menu li a:hover {
background-color: #F90;
color: #FFF; /* white */
text-shadow: 1px 1px 1px #000; /* black */
}

li.menu-item a#onlink {
  background: #FFF;
  color: black;
  border-bottom: 1px solid #FFF;
}

li.menu-item a#onlink:hover {
background-color: #FFF;
color: #69F;
text-shadow: 1px 1px 1px #000;


}
